<h1>Criação de Task</h1>
<form action="/tasks/add" method="post">
    <div class="form-group">
        <label for="title">Título :</label>
        <input class="form-control" type="text" name="title" placeholder="O que você vai fazer ?">
    </div>
    <div class="form-group">
        <label for="description">Descrição :</label>
        <textarea  class="form-control" name="description" placeholder="Descreva a tarefa ..."></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Criar</button>   
    </div>
    
   
</form>